<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <a mat-button class="toolbar-brand-button">
      <img src="M-192x192.png" alt="Memora" class="toolbar-brand-logo">
      <span class="toolbar-brand-text">Memora</span>
    </a>

    <span class="spacer"></span>

    <div>
      <button mat-button (click)="onLoginClicked()" *ngIf="!isAuthenticated()">
        <span class="button-text">Login</span>
      </button>

      <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated()">
        <span class="button-text">{{ getUserName() }}</span>
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <button mat-menu-item (click)="onLogoutClicked()">
          Logout
        </button>
      </mat-menu>

      <span>

      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet />