.toolbar {
    background-color: #d7e3ff;
    color: #005cbb;
}

.toolbar-brand-button {
    padding: 22px 15px;
}

.toolbar-brand-logo {
    margin-right: 7px;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    display: inline-block;
}

.toolbar-brand-text{
    display: inline-block;
    vertical-align: middle;
    color: #005cbb;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}